---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
---

<div class="w-full md:w-1/3">
  <a href={url} target={target} class="block">
    <div class="card content-card mx-6 my-2">
      <Image width={750} height={422} format="webp" src={img} alt={title} class="aspect-[16/9] w-full object-cover" />
      <div class="card-body">
        <h2 class="card-title text-base-content">
          {title}
          {badge && <div class="site-badge">{badge}</div>}
        </h2>
        <p class="text-base-content/75">{desc}</p>
        <div class="card-actions justify-end">
          {tags && tags.map((tag: string) => <div class="badge badge-outline">{tag}</div>)}
        </div>
      </div>
    </div>
  </a>
</div>
