---
const { title, img, desc, url, badge, category } = Astro.props;
import { Image } from "astro:assets";
---

<div class="content-card">
  <a href={url} class="block">
    <div class="flex flex-col items-start gap-4 p-4 md:flex-row">
      {
        img && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={img}
            alt={title}
            class="content-card-image"
          />
        )
      }
      <div class="grow w-full">
        <h2 class="content-card-title">
          {title}
          {badge && <div class="site-badge mx-2">{badge}</div>}
        </h2>
        <div>
          <span class="badge badge-info badge-outline mr-1"> {category}</span>
        </div>
        <p class="content-card-description">{desc}</p>
      </div>
    </div>
  </a>
</div>
