---
import { type StoreSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";

export interface Props extends StoreSchema {}

const {
  title,
  description,
  heroImage,
  category,
  repository,
  repository_label,
  checkoutUrl,
  badge,
  custom_link,
  custom_link_label,
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-headings:text-base-content prose-p:text-base-content/80 prose-a:text-primary prose-strong:text-base-content prose-li:text-base-content/80 prose-img:mx-auto">
      {
        heroImage && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={heroImage}
            alt={title}
            class="mb-6 w-full rounded-box"
          />
        )
      }
      <div>
        <h1 class="title my-2 text-4xl font-bold">
          {title}
          {badge && <div class="site-badge mx-2">{badge}</div>}
        </h1>
        <div class="flex flex-col gap-4 md:flex-row md:place-content-between md:items-center">
          <div class="grow md:grow-0">
            <span class="badge badge-info badge-outline mr-1"> {category}</span>
          </div>
          <div class="flex flex-wrap gap-2">
            {
              custom_link && (
                <a
                  class="btn btn-outline grow md:grow-0"
                  href={custom_link}
                  target="_blank"
                >
                  {custom_link_label}
                </a>
              )
            }
            {
              checkoutUrl && (
                <a
                  class="btn btn-outline grow md:grow-0"
                  href={checkoutUrl}
                  target="_blank"
                >
                  Demo
                </a>
              )
            }

            {
              repository && (
                <a
                  class="btn btn-outline grow md:grow-0"
                  href={repository}
                  target="_blank"
                >
                  {repository_label ?? "GitHub"}
                </a>
              )
            }
          </div>
        </div>
      </div>
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
